<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="2.0.1" package="com.pareekiApps.markcalculator">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" />
	<application android:theme="@android:style/Theme.Holo" android:label="Mark Calculator" android:icon="res/drawable-xxhdpi/ic_launcher.png" android:debuggable="false" android:allowBackup="true">
		<meta-data android:name="com.google.android.gms.version" android:value="4242000" />
		<activity android:label="Mark Calculator" android:name="Calculation" android:windowSoftInputMode="0x20">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="Mark Calculator" android:name="Course1">
			<intent-filter>
				<action android:name="android.intent.action.COURSE1" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:label="Mark Calculator" android:name="Course2">
			<intent-filter>
				<action android:name="android.intent.action.COURSE2" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:label="Mark Calculator" android:name="Course3">
			<intent-filter>
				<action android:name="android.intent.action.COURSE3" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:label="Mark Calculator" android:name="Course4">
			<intent-filter>
				<action android:name="android.intent.action.COURSE4" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:label="Mark Calculator" android:name="EditingClasses">
			<intent-filter>
				<action android:name="android.intent.action.EDITINGCLASSES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:label="Mark Calculator" android:name="SettingsActivity">
			<intent-filter>
				<action android:name="android.intent.action.SETTINGSACTIVITY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="0xfb0" />
	</application>
</manifest>
